USE [master]
GO
/****** Object:  Database [DormManageDB]    Script Date: 2019/7/7 16:43:44 ******/
CREATE DATABASE [DormManageDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DormManageDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DormManageDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DormManageDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DormManageDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DormManageDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DormManageDB]
GO
/****** Object:  Table [dbo].[AdminInfo]    Script Date: 2019/7/7 16:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AdminInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[JobNumber] [bigint] NULL,
	[Account] [nchar](10) NULL,
	[Password] [varchar](255) NULL,
	[PhoneNumber] [bigint] NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK__AdminInf__3213E83F3749E5AF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DormInfo]    Script Date: 2019/7/7 16:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DormInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Broom_Max] [int] NULL,
	[Broom] [int] NULL,
	[Mop_Max] [int] NULL,
	[Mop] [int] NULL,
	[Trash_Max] [int] NULL,
	[Trash] [int] NULL,
	[Water_Max] [int] NULL,
	[Water] [int] NULL,
	[DateTime] [varchar](255) NULL,
 CONSTRAINT [PK__DormInfo__5D25B4960D753672] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NoticeInfo]    Script Date: 2019/7/7 16:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NoticeInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Notice] [varchar](255) NULL,
	[DateTime] [varchar](255) NULL,
	[Title] [varchar](255) NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_NoticeInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 2019/7/7 16:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[StudentId] [bigint] NULL,
	[Class] [varchar](255) NULL,
	[DormId] [int] NULL,
 CONSTRAINT [PK__StudentI__3213E83F307E1D4A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VisitInfo]    Script Date: 2019/7/7 16:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VisitInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[DateTime] [varchar](255) NULL,
	[InOut] [int] NULL,
	[StudentName] [varchar](255) NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_VisitInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
